.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px 0;
  color: white;
}

.App-header a {
  display: block;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.App-content li {
  margin: 1em 0 0 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
